html {
  background-color: #21252b;
}

pre {
  background-color: #282c34 !important;
  color: #abb2bf
}

.navbar {
  background-color: transparent !important;
}

.delete{
  margin-right: 10px;
}

.tabs {
  background-color: #282c34;
}

.tabs ul {
  border-bottom-width: 1px;
  border-color: #383e4a;
}

.tabs a {
  border-bottom-width: 1px;
  border-color: transparent;
  color: #909295;
}

.tabs a:hover {
  border-bottom-color: #bbbbbb;
  color: #bbbbbb;
}

.tabs li.is-active a {
  border-bottom-color: #56b6c2;
  color: #56b6c2;
}

article > .active {
  background-color: #363b44;
}

.button.dnd {
  background-color: #b1545c;
  border-color: #b1545c;
}

.button.powerOff {
  background-color: #252930;
  border-color: #252930;
}

.project {
  border-width: 0 0 0 24px;
  border-radius: 0px;
  background-color: #282c34;
  border-color: #383e4a;
  color: #c9c9c9;
  margin-bottom: 0.6rem !important;
  font-size: 14px;
  height: 40px;
}

.project-body {
  width: 98%;
}

.main {
  padding-bottom: 16px
}

.project:hover, .project:focus {
  background-color: #363b44;
  color: #ffffff;
  border-width: 0 0 0 28px;
  outline-style: solid;
  outline-color: #363b44;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.3rem 0.5rem;
  background-color: #282c34;
  border-top: 1px solid;
  border-color: #383e4a;
  font-size: 14px;
}


/* 
.message {
  border-radius: 0px;
  margin-bottom: 0.6rem !important;
}

.message-body {
  background-color: #282c34;
  border-radius: 0px;
  border-color: #383e4a;
  border-width: 0 0 0 24px;
  color: #c9c9c9;
  padding: 1em 1em;
  font-size: 14px;
} */

/* .message-header {
  padding: 0.2em 0.4em;
  background-color: #21252b;
  border-radius: 0px;
  font-weight: 200;
  font-size: 0.6rem;

} */

i.danger {
  color: #e06c75;
}

i.active {
  color: #7b9662;
}

.button.is-danger.is-outlined {
  border: 0px;
  color: #e06c75;
}

.button.is-danger.is-outlined:hover {
  color: #282c34;
  background-color: #e06c75 !important;
}

.button.is-primary.is-outlined {
  border: 0px;
  color: #56b6c2;
}

.button.is-primary.is-outlined:hover {
  color: #282c34;
  background-color: #56b6c2 !important;
}

.button.is-small {
  border-radius: 0px;
  font-size: 0.6rem;
}

.content {
  padding: 0.5rem;
}