<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <title>clipper</title>
  <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="endora.css">

</head>



<body>

  <main id='app'>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="tabs is-fullwidth">
      <ul>
        <li v-bind:class="{ 'is-active': tab == 'projects' }" @click="tab = 'projects'"><a>Projects</a></li>
        <li v-bind:class="{ 'is-active': tab == 'options' }" @click="tab = 'options'"><a>Config</a></li>
        <li><button class="delete is-pulled-right"></button></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <div v-show="tab == 'projects'">

      <template v-if="loading">
        LOADING
      </template>
      <template v-else>

        <article class="message" v-for="item in data">
          <div class="message-body"  v-bind:style="{borderColor: item.color}">
            <nav class="level is-mobile">
              <div class="level-left"> 
                <div class="level-item"><i v-bind:class="item.icon"></i></div>
                <div class="level-item">{{ item.name }}</div>
              </div>
              <div class="level-right">
                  <div class="level-item"><i class="far fa-clock"></i></div>
                  <div class="level-item">{{ item.time }}</div>
              </div>
            </nav>
            
            
          </div>
        </article>



      </template>


    </div>
    <div v-show="tab == 'options'">
      <template v-if="loading">
        LOADING
      </template>
      <template v-else>


        <h1>Projects</h1>


        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" id="title" placeholder="Text input" v-model="project_name">
            </div>
          </div>
          
          <input class="input" type="text" id="iconPicker" value="fa-star" v-model="project_icon">
          <input class="input" type="text" id="color" value="#FF0000" v-model="project_color">
          
          <div class="field">
            <label class="label">Status</label>
            <div class="control">
              <div class="select">
                <select v-model="project_state">
                  <option>open</option>
                  <option>on hold</option>
                  <option>closed</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" v-on:click="addProjectToDB()">Submit</button>
            </div>
          </div>

        <article class="message is-small" v-for="item in data">
         <div class="message-header">
           {{ item.name }}
          <p class="control" @click="removeFromDB(item)">
            <a class="button is-small is-danger is-outlined">
              <span class="icon is-small">
                <i class="fas fa-minus-circle"></i>
              </span>
              <span>Delete</span>
            </a>
          </p>
         </div>
         <div class="message-body">{{ item.time }}</div>
        </article>
      </template>
    </div>
  </div>

  </main>




  </main>
  <script>
    // You can also require other files to run in this process

    require('./renderer.js')
  </script>
</body>

</html>